{% extends "base.html" %}

    {% block content %} 
        <style>
            table, th, td{
                border: 1px solid black;
                border-collapse: collapse;
            }

            input[type="checkbox"]{
                width:20px;
                height:20px;
                position:relative;
                z-index: 999;
                appearance: auto;          
                -webkit-appearance: auto;   
                opacity: 1;                 
                pointer-events: auto; 
            
            }
            label{
                display: block;
                width: 100%;
                height: 100%;
                cursor: pointer; 
            }

            td, th{
                text-align: center;
            }
        </style>

        <div>
            <table cellpadding="10">
                <thead>
                    <tr style="background-color: #d6d6d6;">
                        <th>Звичка</th>
                        <th>Пн</th>
                        <th>Вт</th>
                        <th>Ср</th>
                        <th>Чт</th>
                        <th>Пт</th>
                        <th>Сб</th>
                        <th>Нд</th>
                        <th>Всього днів</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in habits_data %}
                    <tr>
                        <td>
                            {{ item.habit.name }}
                            <label>
                                Прогрес:  
                                <progress id="progress-{{ item.habit.id }}" max="{{ item.days|length }}" value="{{ item.total }}"></progress>
                                <span id="label-{{ item.habit.id }}">{{ item.total }}/{{ item.days|length }}</span>
                            </label>
                        
                        </td>
                        {% for is_checked in item.days %}
                        <td>
                            <label style="display:block; width:100%; height:100%;">
                                 <input
                                     type="checkbox"
                                    class="habit-check"
                                    data-day="{{ forloop.counter0 }}"
                                    data-habit="{{ item.habit.id }}"
                                    {% if is_checked %}checked{% endif %}> 
                                 <span></span>  
                            </label>                               
                        </td>
                        {% endfor %}
                        <td id="total-{{ item.habit.id }}" data-total="{{ item.total }}">{{ item.total }}</td>
                        <td>
                            <form method="POST" action="{% url 'delete_habit' item.habit.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn-floating btn-small red"
                                        onclick="return confirm('Видалити звичку?')">
                                    <i class="material-icons">delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>   
            <form method="POST" action="{% url 'add_habit' %}" style="margin-top: 20px; display:flex; gap:10px;">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Нова звичка" maxlength="100" required>
                <button type="submit" class="btn">Додати звичку</button>
            </form>               
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
            const checkboxes = document.querySelectorAll('.habit-check');
            console.log("checkboxes:", checkboxes.length);
            checkboxes.forEach(cb => {
                cb.addEventListener('change', function () {
                    const habitId = this.dataset.habit;
                    const day = this.dataset.day;
                    console.log("CLICK", habitId, day);
                    fetch(`/habits/toggle/${habitId}/`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-CSRFToken': getCookie('csrftoken'),
                        },
                        body: `day=${day}`
                    })
                    .then(res => res.json())
                    .then(data => {
                        console.log("DATA:", data);
                        const progress = document.getElementById(`progress-${habitId}`);
                        const label = document.getElementById(`label-${habitId}`);
                        const total = document.getElementById(`total-${habitId}`);
                        if (progress) {
                            progress.value = data.total;
                        }
                        if (label) {
                            label.textContent = `${data.total}/${progress.max}`;
                        }
                        if (total) {
                            total.textContent = data.total;
                        }
                    })
                    .catch(err => {
                        console.log("ERROR:", err);
                        this.checked = !this.checked;
                    });
                });
            });
        });
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie) {
                document.cookie.split(';').forEach(c => {
                    c = c.trim();
                    if (c.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(c.substring(name.length + 1));
                    }
                });
            }
            return cookieValue;
        }
        </script>
    {% endblock %}
