header, nav{
    position: fixed;
    padding-left: 64px;
    z-index: 1000;
}

.sidenav.sidenav-fixed{ 
    position: fixed;
    top: 64px;
    height: calc(100vh - 64px);
    flex-shrink: 0;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}




#made_task{
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

main{
    margin-left: 300px;
    margin-top: 64px;
    min-height: calc(100vh - 64px - 100px);
    padding-bottom: 20px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#task_footer{
    padding: 30px;
}
